.nosotros__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  align-self: stretch;
}

@media screen and (min-width: 520px){
  .nosotros__links{
    align-items: flex-start;
  }
}