
.header__container {
  display: flex;
  height: 2.5rem;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

@media screen and (min-width: 520px) {
  .header__container {
    padding: 1rem 2rem;
  }
}

@media screen and (min-width: 920px) {
  .header__container {
    width: 90%;
    padding: 2rem 0;
    margin: 0 auto;
  }

  
}
