.header__btn__login {
    display: flex;
    width: 8.3125rem;
    padding: 0.75rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border: 1px solid #2A7AE4;
    color: #2A7AE4;
    color: var(--azul-100, #2A7AE4);
    font-size: 0.875rem;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}