<section class="nosotros back__blue">
  <div class="nosotros__container">
    <a href="index.html" class="nosotros__logo">
      <img src="assets/images/logo.svg" alt="" />
      <img src="assets/images/texto.svg" alt="" />
    </a>
  
    <div class="nosotros__links">
      <a href="#" class="nosotros__text">Quienes somos</a>
      <a href="#" class="nosotros__text">Politica de Privacidad</a>
      <a href="#" class="nosotros__text">Programa de fidelidad</a>
      <a href="#" class="nosotros__text">Nuestras tiendas</a>
      <a href="#" class="nosotros__text">Quiero ser franquiciado</a>
      <a href="#" class="nosotros__text">Anuncie aqui</a>
    </div>
  </div>
  
  <div class="form__container">
    <form action="#" class="formulario">
      <fieldset>
        <legend>Hable con nosotros</legend>
        <div class="input-container">
          <input
            name="name"
            id="name"
            class="input"
            type="text"
            placeholder="Nombre"
            required
          />
          <label class="input-label" for="name">Nombre</label>
          <span class="input-message-error">Este campo no es valido</span>
        </div>
  
        <div class="textarea-container">
          <textarea
            class="textarea"
            name="message"
            id="message"
            cols="30"
            rows="5"
            placeholder="message"
            required
          ></textarea>
          <label class="textarea-label" for="message">Mensaje</label>
          <span class="textarea-menssage-error">Este campo no es valido</span>
        </div>
      </fieldset>
    </form>
    <button class="btn btn__blue" onclick="sendMessage()">Enviar mensaje</button>
  </div>
  
</section>

<div class="footer">
  <p class="nosotros__text">Desarrollado por Santos Rojas</p>
  <p class="nosotros__text">2023</p>
</div>
