<div class="login__container">
  <p class="start__login">
    Iniciar Sesion
  </p>
  <div class="input__container">
    <input
      name="email"
      id="email"
      class="input"
      type="text"
      placeholder="Escriba su correo electronico"
      required
    />
    <label class="input-label" for="email">Escriba su correo electronico</label>
    <span class="input-message-error">Este campo no es valido</span>
  </div>

  <div class="input__container">
    <input
      name="password"
      id="password"
      class="input"
      type="password"
      placeholder="Escriba su contraseña"
      required
    />
    <label class="input-label" for="password">Escriba su contraseña</label>
    <span class="input-message-error">Este campo no es valido</span>
  </div>
  <button class=" btn btn__blue btn__entrar">Entrar</button>
</div>
