<div class="login__container">
  <p class="start__login">
    Iniciar Sesion
  </p>
  <div class="input__container">
    <input
      name="name"
      id="name"
      class="input"
      type="text"
      placeholder="Escriba su correo electronico"
      required
    />
    <label class="input-label" for="name">Escriba su correo electronico</label>
    <span class="input-message-error">Este campo no es valido</span>
  </div>

  <div class="input__container">
    <input
      name="name"
      id="name"
      class="input"
      type="password"
      placeholder="Escriba su contraseña"
      required
    />
    <label class="input-label" for="name">Escriba su contraseña</label>
    <span class="input-message-error">Este campo no es valido</span>
  </div>
  <button class="btn__login">Entrar</button>
</div>
