<div class="header__container">
  <div class="header__logo__busqueda">
    <a href="index.html" class="header__logo">
      <img class="logo__icono" src="assets/images/logo.svg" alt="" />
      <img class="logo__text" src="assets/images/texto.svg" alt="" />
    </a>

    <div class="header__cuadro__busqueda">
      <input
        type="text"
        class="header__input"
        placeholder="¿Que deseas buscar?"
      />
      <button class="lupa"></button>
    </div>
  </div>

  <button onclick="window.location.href='login.html'" class="header__btn__login">Login</button>

  <div class="lupa__izquierda">
    <button class="lupa"></button>
  </div>
</div>
