<section class="container container--vertical">
  <div class="productos__title">
    <p class="productos__text">Star Wasrs</p>
    <a href="all-products.html" class="productos__todo text--blue">
      Ver todo
      <img src="assets/images/flecha.svg" alt="ver todo" class="arrow" />
    </a>
  </div>
  <div class="productos__container">
    <div class="producto__unitario">
      <div class="producto__image">
        <img src="assets/images/sw-1.png" alt="producto imagen" />
        <a class="text--blue button" href="producto-detalle.html"
          >Ver producto</a
        >
      </div>
      <p>Producto XYZ</p>
      <h4 class="producto__precio">R$ 60,00</h4>
      <a class="text--blue" href="producto-detalle.html">Ver producto</a>
    </div>

    <div class="producto__unitario">
      <div class="producto__image">
        <img src="assets/images/sw-2.png" alt="producto imagen" />
        <a class="text--blue button" href="producto-detalle.html"
          >Ver producto</a
        >
      </div>
      <p>Producto XYZ</p>
      <h4 class="producto__precio">R$ 60,00</h4>
      <a class="text--blue" href="producto-detalle.html">Ver producto</a>
    </div>

    <div class="producto__unitario">
      <div class="producto__image">
        <img src="assets/images/sw-3.png" alt="producto imagen" />
        <a class="text--blue button" href="producto-detalle.html"
          >Ver producto</a
        >
      </div>
      <p>Producto XYZ</p>
      <h4 class="producto__precio">R$ 60,00</h4>
      <a class="text--blue" href="producto-detalle.html">Ver producto</a>
    </div>

    <div class="producto__unitario">
      <div class="producto__image">
        <img src="assets/images/sw-4.png" alt="producto imagen" />
        <a class="text--blue button" href="producto-detalle.html"
          >Ver producto</a
        >
      </div>
      <p>Producto XYZ</p>
      <h4 class="producto__precio">R$ 60,00</h4>
      <a class="text--blue" href="producto-detalle.html">Ver producto</a>
    </div>
  </div>
</section>
<!--Productos consolas -->
<section class="container container--vertical">
  <div class="productos__title">
    <p class="productos__text">Consolas</p>
    <a href="all-products.html" class="productos__todo text--blue">
      Ver todo
      <img src="assets/images/flecha.svg" alt="ver todo" class="arrow" />
    </a>
  </div>
  <div class="productos__container">
    <div class="producto__unitario">
      <div class="producto__image">
        <img src="assets/images/con-1.png" alt="producto imagen" />
        <a class="text--blue button" href="producto-detalle.html"
          >Ver producto</a
        >
      </div>
      <p>Producto XYZ</p>
      <h4 class="producto__precio">R$ 60,00</h4>
      <a class="text--blue" href="producto-detalle.html">Ver producto</a>
    </div>

    <div class="producto__unitario">
      <div class="producto__image">
        <img src="assets/images/con-2.png" alt="producto imagen" />
        <a class="text--blue button" href="producto-detalle.html"
          >Ver producto</a
        >
      </div>
      <p>Producto XYZ</p>
      <h4 class="producto__precio">R$ 60,00</h4>
      <a class="text--blue" href="producto-detalle.html">Ver producto</a>
    </div>

    <div class="producto__unitario">
      <div class="producto__image">
        <img src="assets/images/con-3.png" alt="producto imagen" />
        <a class="text--blue button" href="producto-detalle.html"
          >Ver producto</a
        >
      </div>
      <p>Producto XYZ</p>
      <h4 class="producto__precio">R$ 60,00</h4>
      <a class="text--blue" href="producto-detalle.html">Ver producto</a>
    </div>

    <div class="producto__unitario">
      <div class="producto__image">
        <img src="assets/images/con-4.png" alt="producto imagen" />
        <a class="text--blue button" href="producto-detalle.html"
          >Ver producto</a
        >
      </div>
      <p>Producto XYZ</p>
      <h4 class="producto__precio">R$ 60,00</h4>
      <a class="text--blue" href="producto-detalle.html">Ver producto</a>
    </div>
  </div>
</section>
<!-- productos diversos-->
<section class="container container--vertical">
  <div class="productos__title">
    <p class="productos__text">Diversos</p>
    <a href="all-products.html" class="productos__todo text--blue">
      Ver todo
      <img src="assets/images/flecha.svg" alt="ver todo" class="arrow" />
    </a>
  </div>
  <div class="productos__container">
    <div class="producto__unitario">
      <div class="producto__image">
        <img src="assets/images/camisa-atari.png" alt="producto imagen" />
        <a class="text--blue button" href="producto-detalle.html"
          >Ver producto</a
        >
      </div>
      <p>Producto XYZ</p>
      <h4 class="producto__precio">R$ 60,00</h4>
      <a class="text--blue" href="producto-detalle.html">Ver producto</a>
    </div>

    <div class="producto__unitario">
      <div class="producto__image">
        <img src="assets/images/camisa-snes.png" alt="producto imagen" />
        <a class="text--blue button" href="producto-detalle.html"
          >Ver producto</a
        >
      </div>
      <p>Producto XYZ</p>
      <h4 class="producto__precio">R$ 60,00</h4>
      <a class="text--blue" href="producto-detalle.html">Ver producto</a>
    </div>

    <div class="producto__unitario">
      <div class="producto__image">
        <img src="assets/images/control-consola.png" alt="producto imagen" />
        <a class="text--blue button" href="producto-detalle.html"
          >Ver producto</a
        >
      </div>
      <p>Producto XYZ</p>
      <h4 class="producto__precio">R$ 60,00</h4>
      <a class="text--blue" href="producto-detalle.html">Ver producto</a>
    </div>

    <div class="producto__unitario">
      <div class="producto__image">
        <img src="assets/images/control-consola1.png" alt="producto imagen" />
        <a class="text--blue button" href="producto-detalle.html"
          >Ver producto</a
        >
      </div>
      <p>Producto XYZ</p>
      <h4 class="producto__precio">R$ 60,00</h4>
      <a class="text--blue" href="producto-detalle.html">Ver producto</a>
    </div>
  </div>
</section>


