.banner__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 0.5rem;
    align-self: stretch;
}

.banner__title {
    color: #fff;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.banner__subtitle {
    color: #fff;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


@media screen and (min-width:520px) {
    .banner__text{
        gap: 1rem;
    }

    .banner__title{
        font-size: 3.25rem;
    }

    .banner__subtitle{
        font-size: 1.375rem;
    }
}

@media screen and (min-width:920px){
    .banner__text{
        width: 80%;
        margin: 0 auto;
    }
}

