
.form__label {
  margin-bottom: 1rem;
}

.input-container {
  font-weight: var(--font-weigth-input);
  position: relative;
  margin-bottom: 1rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
}

.input {
  box-sizing: border-box;
  border-bottom: 1px solid var(--secondary-color);
  border-radius: 7px;
  padding: 1.375rem 0.5rem 0.5rem;
  height: 3.25rem;
  width: 100%;
  border: none;
}

.input::placeholder {
  visibility: hidden;
}

.input:focus {
  outline: none;
}

.input-label {
  position: absolute;
  top: 1.375rem;
  left: 0.5rem;
  font-size: var(--font-size-input-label);
  transition: all 0.25s;
  color: rgb(152, 152, 181);
}

.input:not(:placeholder-shown) + .input-label,
.input:focus + .input-label {
  font-size: 0.875rem;
  top: 0.25rem;
  transition: all 0.25s;
  background-color: white;
  color: #000;
}

.input-message-error {
  display: none;
}

.textarea {
  box-sizing: border-box;
  padding: 1.5rem 0.5rem 0.5rem;
  border-radius: 7px;
  width: 100%;
  min-height: 3rem;
  border: none;
}

.textarea-container {
  width: 100%;
  position: relative;
  margin-bottom: 1rem;
  width: 100%;
  justify-content: flex-end;
  box-sizing: border-box;
  font-weight: var(--font-weigth-input);
}

.textarea::placeholder {
  visibility: hidden;
}

.textarea:focus {
  outline: none;
}

.textarea-label {
  position: absolute;
  top: 1.375rem;
  left: 0.5rem;
  font-size: var(--font-size-input-label);
  transition: all 0.25s;
  color: rgb(152, 152, 181);
}

.textarea:not(:placeholder-shown) + .textarea-label,
.textarea:focus + .textarea-label {
  font-size: 0.875rem;
  top: 0.25rem;
  transition: all 0.25s;
  color: black;
}

.textarea-mensagem-error {
  display: none;
}

.select {
  box-sizing: border-box;
  border-bottom: 1px solid var(--secondary-color);
  border-radius: 7px;
  padding: 1.375rem 0.5rem 0.5rem;
  height: 3.25rem;
  width: 100%;
  border: none;
}

.select:focus {
  outline: none;
}
.select::placeholder{
  visibility: hidden;
}
.select-label {
  position: absolute;
  top: 1.375rem;
  left: 0.5rem;
  font-size: var(--font-size-input-label);
  transition: all 0.25s;
  color: rgb(152, 152, 181);
}

/* .select:not(:placeholder-shown) + .select-label,
.select:focus + .select-label {
  font-size: 0.875rem;
  top: 0.25rem;
  transition: all 0.25s;
  background-color: white;
  color: #000;
} */

.select:focus + .select-label,
.select:valid + .select-label {
  font-size: 0.875rem;
  top: 0.25rem;
  transition: all 0.25s;
  background-color: white;
  color: #000;
}
