.producto__unitario {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.producto__precio {
  color: #464646;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.producto__image {
  position: relative;
  display: inline-block;
}

.button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(42, 122, 228, 0.7); /* Fondo semitransparente */
  padding: 10px 20px;
  text-decoration: none;
  opacity: 0; /* Inicialmente oculto */
  transition: opacity 0.3s ease; /* Transición suave */
  color: #fff;
  border-radius: 1rem;
  text-align: center;
}

.producto__image:hover .button {
  opacity: 1; /* Mostrar el botón al pasar el cursor por encima */
}

.imagep{
  width: 9.75rem;
  height: 10.875rem;
}

@media screen and (min-width:520px) {
  .imagep{
    width: 11rem;
  }  
}