.productos__container {
  width: 100%;
  display: grid;
  grid-template-columns: 50% auto; /* Dos columnas de igual tamaño */
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}

@media screen and (min-width: 520px) {
  .productos__container {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
  }
}

@media screen and (min-width: 920px) {
  .productos__container {
    display: flex;
    align-items: flex-start;
  }
}
